
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-color: #e8eaf1bf;
    --title-color: #0e101a;
    --first-color: #000000;
    --text-color: #112969;
    --blue-color: #185550;
    --white-color: #fbf6f6;
    --dark-color: #000000;
    --container-color: #f1f1f1;

    --raleway-font: 'Raleway', sans-serif;
    --forum-font: 'Forum', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 4rem 0 0 0;
    background: var(--body-color);
    font-family: var(--raleway-font);
    color: var(--text-color);
    font-size: 0.938rem;
    
}
ul {
    list-style: none;
}

a{
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: 700;
    font-family: var(--raleway-font);
}
button {
    border: none;
    font-family: var(--raleway-font);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
input,textarea {
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: var(--raleway-font);
}
main {
    overflow-x: hidden;
}
/*REUSABLE CSS CLASSES */
.section {
    padding: 5.5rem 0 3.5rem;
}
section-title {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 105%;
    margin-bottom: 2rem;
}
.container {
    max-width: 1200px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.flex {
    display: flex;
}
/*header*/
.header{
    width: 100%;
    position: fixed;
    top: 1rem;
    left:0;
    z-index: 999;
    background: transparent;
}
/*nav*/
.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overlay {
    background: var(--body-color);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
   opacity: 0;
    z-index: 999;
    transition:  all 0.4s ease-in-out;
    pointer-events: none;
    cursor: pointer;
}

.logo {
    width: 150px;
    transition: all 0.4s ease-in-out;
}

.nav-open {
    width: 45px;
    height: 45px;
    background: var(--first-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}
.nav-open:hover{
    transform: scale(0.9);
}
.nav-menu {
    position: relative;
}
.nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    padding:7rem 0 0 3rem;
    background: #0f0f0f;
    color: var(--white-color);
   opacity: 0;
    z-index: 999;
  transform: translateX(-100%);
}

.nav-close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    height: 45px;
    width: 45px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease;
}
.nav-close:hover {
    background: var(--blue-color);
    transform: scale(0.9);
}
.nav-link {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    position: relative;
    display: block;
    overflow: hidden;
}

.nav-link1 {
    display: block;
    transform: translateY(0);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    opacity: 1;
}
.nav-link2 {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    opacity: 0;
}
.nav-item:hover .nav-link1 {
    transform: translateY(-100%);
    opacity: 0;
}
.nav-item:hover .nav-link2 {
    bottom:0;
    opacity: 1;
}
.nav-item {
    position: relative;
    display: block;
}
.social-links {
    margin-top: 4rem;
}
.social-link{
    margin: 0 20px 0 0;
    display: inline-block;
    position: relative;
}
.social-link a {
    font-size: 1rem;
    height: 24px;
    font-weight: 600;
    color: #dbdbdb;
    display: block;
    overflow:hidden;
    position: relative;
}
.social-link a span {
    display: block;
    transform: translateY(0);
    transition:all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    opacity: 1;
}
.social-link a i {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1rem;
    color: var(--blue-color);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    opacity: 0;
}

.social-link a:hover span {
    transform: translateY(-100%);
    opacity: 0;
}

.social-link a:hover i {
    bottom: 7px;
    opacity: 1;
}
.social-link::after{
    content: '';
    display: inline-block;
    background: var(--blue-color);
    height: 3px;
    width: 3px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: -14px;
}
.social-link:nth-of-type(4)::after {
    display: none;
}

.email{
    margin-top: 2rem;
    position: relative;
    display: inline-flex;
}

.email a{
    font-size: 1.15rem;
    color: #fff;
    font-weight: 700;
    font-family: var(--forum-font);
    display: inline-flex;
}

.email::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #414141;
    width: 100%;
    height: 1px;
}

.email::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    background:var(--blue-color);
    width: 0;
    height: 1.5px;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.email:hover::after {
width: 100%;
}
.hide-logo {
    opacity: 0;
    pointer-events: none;
}

/*home*/

.home-title {
font-size: 2.3rem;

}
.home-description {
    line-height: 22px;
    margin-top: 0.7rem;
}

.home-button {
    margin-top: 2.2rem;
}
.btn {
    padding: 13px 40px;
    color: #fff;
    background: var(--first-color);
    font-weight: 600;
}
home-img {
    display: none;
}

/*projecttttt*/
.project-wrap {
    margin-top: 4.5rem;
}
.project-list {
    margin-bottom: 70px;
}
.project-content-wrap {
    display: block;
    width: 100%;
}
.project-img {
    position: relative;
    width: 100%;
    height: 300px;
    overflow:hidden
}
.project-thumbnail {
    display: block;
    height: 100%;
    position: relative;
}
.project-content {
    margin-top: 2rem;
    padding-right: 3.2rem;
}
.project-content h3 {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: var(--forum-font);
    margin-bottom: 1rem;
}
.project-content p {
    line-height: 21px;
    font-size: .85rem;
    margin-bottom: 1.6rem;
}
.project-link {
    display: block;
    overflow: hidden;
    color: var(--dark-color);
    position: relative;
    font-weight: 700;
    font-size: .9rem;
}
.project-link1 {
    display: block;
    transform: translateY(0);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    opacity: 1;
}
.project-link1::after, .project-link2::after {
    content: "";
    width: 18px;
    height: 1.5px;
    background: var(--blue-color);
    display: inline-block;
    transform: translateY(-4px);
    margin-left: 8px;
    
}

.project-link2 {
    position: absolute;
    bottom: -100%;
    left: 0;
    opacity: 0;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    right: 0;

}
.project-link:hover .project-link1 {
    transform: translateY(-100%);
    opacity: 0;
}
.project-link:hover .project-link2 {
    bottom: 0;
    opacity: 1;
}
/*fooooterrrr*/
.footer {
    background: var(--container-color);
    margin-top: 10rem;
    padding: 7rem 0;

}
.footer-container {
    gap: 0;
    position: relative;
}
.footer-logo {
    position: absolute;
    top: 7px;
    width: 150px;
    left: 0;
}
.footer-right,.footer-contact-title,form {
    margin-top: 3rem;
}
input, textarea {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid var(--text-color);
    padding: 10px 0 2px 0;
    margin-bottom: 1.5rem;
    background: transparent;
    color: var(--dark-color);
    font-size: 1rem;
    font-weight: 500;
}
.submit-btn{
    margin-top: 1rem;
}
.footer-description{
    color: var(--text-color);
    line-height: 1.5rem;
    font-weight: 600;
    max-width: 500px;
    margin-bottom: 2rem;
}
.footer-email {
    margin-top: 2rem;
    position: relative;
    display: inline-flex;
}
.footer-email a {
    font-size: 1.15rem;
    color: var(--dark-color);
    font-weight: 700;
    font-family: var(--forum-font);
    display: inline-flex;
}
.footer-email::before {
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #414141;
    width: 100%;
    height: 1px;
    content: '';
}
.footer-email::after{
    position: absolute;
    bottom: -7px;
    left: 0;
    background: #414141;
    width: 100%;
    height: 1px;
    content: '';
    transition: all cubic-bezier(0.4,0,0.2,1)0.3s;
}

.footer-email:hover::after{
    width: 100%;

}
.copyright{
    display: block;
    color: var(--dark-color);
    margin-top: 3rem;
}
/*scrollup*/
.scrollup {
position: fixed;
bottom: -20%;
background: var(--blue-color);
border-radius: 50%;
opacity: 0.9;
transition: 0.4s;
right: 1.5rem;
display: flex;
padding: 0.8rem;
z-index: 99999;

}

.scrollup:hover {
    background: var(--first-color);
    opacity: 1;
}
.scrollup-icon {
    color: var(--white-color);
    font-size: 1.25rem;
}
.show-scroll {
    bottom: 5rem;
}

/*media queries*/
@media screen and (max-width:350px) {
    .section-title {
        font-size: 1.4rem;
    }
    .nav-menu {
        padding-left: 1.5rem;
    }
    .social-link a {
        font-size: .8rem;
    }
    .email a {
        font-size: 1rem;
    }
}

@media screen and (min-width:576px) {
.section {
    padding: 6.5rem 0 4.5rem;
}
.section-title {
    font-size: 2.7rem;
}
.container {
    margin-left: 3rem;
    margin-right: 3rem;
}
   .nav-menu {
       padding-left: 6rem;
   } 
   .nav-link {
    font-size: 3rem;
}
    .home-title {
        font-size: 3.2rem;
        line-height: 108%;
    }
    .home-description{
        font-size: 1.1rem;
        line-height: 2rem;
    }
    .project-img {
        height: 400px;
    }
    .project-thumbnail {
        height: 400px;
    }
    .project-pic {
        width: 60px;
        height: 60px;
    }
   /* .name {
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }
    .post {
        font-size: .8rem;
    }*/
    form .split {
        display: flex;
        column-gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    form {
        width: 90%;
    }
}
@media screen and (min-width:768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 7rem;
    }
    .section-title {
        font-size: 3rem;
    }
    .container{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .header{
        top: 1.5rem;
    }
    .nav-menu {
        padding-left: 8rem;
        padding-top: 5rem;
    }
    .logo {
        width: 180px;
    }
    .nav-open,
    .nav-close {
        width: 60px;
        height: 60px;
    }
    .nav-link {
        font-size: 3.5rem;
        line-height: 80px;
    }
    .social-link a,
    .social-link a i {
        font-size: 1.1rem;
    }
    .social-link:hover {
        bottom: 5px;
    }
    .email a{
        font-size: 1.3rem;
    }
    .home {
        padding-top: 9rem;
    }
    .home-container {
        display: flex;
        column-gap: 3rem;
    }
    .home-data {
        flex-basis: 58%;
        max-width: 58%;
    }
    .home-image {
        flex-basis: 42%;
        max-width: 42%;
        position: relative;
        width: 359px;
        overflow: hidden;
        height: 400px;
    }
    .home-img {
        display: block;
        height: 100%;
        position: relative;
   
    }
    .home-title{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .project-content-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .project-media {
        -webkit-box-flex:0;
        -ms-flex:0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        height: auto;
    }
    .project-content {
        -webkit-box-flex:0;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 40px;
        margin-top:  0;
    }
    .project-img {
        max-height: 550px;
    }
    .project-thumbnail{
        height: 100%;
    }
    .project-list:nth-child(2n) .project-content-wrap {
        flex-direction: row-reverse;
    }
    .project-content h3 {
        font-size: 2.1rem;
    }
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    form {
        width: 100%;
    }
    .footer-right{
        order: 1;
        margin-top: -3rem;
    }
    .footer-left {
        margin-top: 3rem;
    }
    .footer-description{
        font-size: 1.1rem;
        line-height: 2rem;
    }
    .copyright{
        position: absolute;
        bottom: 10px;
        left: 0;
    }
    /*scrooolll*/
    .scrollup {
        padding: 1rem;
    }
    .scrollup-icon {
        color: #f1f1f1;
        font-size: 1.7rem;
    }
}
@media screen and (min-width:968px){
    .container{
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    .section-title{
        font-size: 3rem;
    }
    .header{
        top: 2rem;
    }
    .nav-menu {
        width: 55%;
    }
    .logo{
        width: 200px;
    }
    .home {
     padding-top: 11rem;
    }
    .home-title{
        font-size: 3.3rem;
        line-height: 4rem;
    }
    .home-data p {
        margin-top: 1.3rem;
        margin-bottom: 3.5rem;
    }
    .copyright {
        left: 25px;
    }
   
}

@media screen and (min-width:1180px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-title{
        font-size: 4rem;
    }
    .nav-menu{
        padding-left: 13rem;
        padding-top: 9rem;
    }

    .home-image {
        flex-basis: 40%;
        max-width: 40%;
        height: 550px;
    }
    .home-img {
        height: 550px;
    }
    .home-data{
        flex-basis: 60%;
        max-width: 60%;
    }
    .home-title {
        font-size: 4.5rem;
        line-height: 5.2rem;
    }
    .home-description {
        font-size: 1.3rem;
    }
    .home-button{
        margin-top: 2.5rem;
    }
    .btn{
        font-size: 1.5rem;
    }
    .copyright{
        left: 15px;
    }
  
    
}
















































































































